---
import '../styles/main.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderMega from '../components/header/header-mega/Header.astro';
import FooterGrid from '../components/footer/footer-grid/Footer.astro';
import Error404 from '../components/errors/Error404.astro';
import Error404Modern from '../components/errors/Error404Modern.astro';
---

<BaseLayout title="404 | Page not found" description="The page you're looking for doesn't exist">
  <HeaderMega />
  <main class="main">
    <div class="container">
      <Error404Modern />
    </div>
  </main>
  <FooterGrid />
</BaseLayout>


